.ss-checkbox-default {
    .form-check-label {
        display: flex;
        align-items: center;
        gap: 5px;
        @include font-custom(20px, normal, 500, $red1);
    }

    .form-check-input {
        height: 20px;
        width: 20px;
        margin-top: 2px !important;

        &:checked {
            background-color: $red1;
            border-color: $red1;
        }

        &:focus {
            border-color: $red1;
            box-shadow: none;
        }
    }
}